include _common

-
  var peopleList = [];

  function addPeopleUnit(unit) {
    if (unit.people) {
      var {people} = unit;
      people.forEach(person => {
        peopleList.push({
          name: person.name,
          job: person.job,
          type: unit.type,
          time: unit.time,
          title: unit.title
        })
      })
    }
  }

  prelude.forEach((unit) => {
    addPeopleUnit(unit);
  })

  rhapsodies.forEach(unitList => {
    unitList.items.forEach(unit => {
      addPeopleUnit(unit)
    })
  })

mixin personUnit(person)
  - var {name, job, type, title, time} = person;
    .person-unit(data-name=name, data-job=job, data-type=type, data-title=title, data-time=time,)
      .brief-wrapper
        .type=type
        .name.pf-Medium=name
      .detail-wrapper
        .text-wrapper
          .job=job
          .type.pf-Medium=type
          .title=title
          .time=time
        .avatar(style=`background-image: url(${imagePath}avatars/${name}.png)`)
mixin personRow(start, end)
  .row-unit
    - for(var j = 0; j<3; j++)
      - for (var i = start; i < end; i++)
          +personUnit(peopleList[i])

#carousel
  .rows-wrapper
    +personRow(0, 6)
    +personRow(6, 13)
    +personRow(13, 19)
    +personRow(20, 26)
    .detail-popup.mobile-only.hidden
      .detail-wrapper
        .text-wrapper
          .job
          .type.pf-Medium
          .title
          .time
        .avatar
