include _common

-
  var peopleList = [];

  function addPeopleUnit(unit) {
    if (unit.people) {
      var {people} = unit;
      people.forEach(person => {
        peopleList.push({
          name: person.name,
          job: person.job,
          type: unit.type,
          time: unit.time,
          title: unit.title
        })
      })
    }
  }

  prelude.forEach((unit) => {
    addPeopleUnit(unit);
  })

  rhapsodies.forEach(unitList => {
    unitList.items.forEach(unit => {
      addPeopleUnit(unit)
    })
  })

mixin personUnit(person)
  .person-unit
    .brief-wrapper
      .type=person.type
      .name.pf-Medium=person.name
    .detail-wrapper
      .text-wrapper
        .job=person.job
        .type.pf-Medium=person.type
        .title=person.title
        .time=person.time
      .avatar(style=`background-image: url(${imagePath}avatars/${person.name}.png)`)
mixin personRow(start, end)
  .row-unit
    - for (var i = start; i < end; i++)
        +personUnit(peopleList[i])

#carousel
  .rows-wrapper
    +personRow(0, 6)
    +personRow(6, 13)
    +personRow(13, 19)
    +personRow(20, 26)

